@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Libre+Barcode+39+Text&family=Roboto+Mono:wght@100;300;400&family=Special+Elite&family=Tomorrow:wght@100&family=VT323&display=swap");

.App {
  text-align: center;
  background-color: azure;
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100vh; */
  overflow: auto;
  font-family: "Gugi", cursive;
}

img {
  object-fit: cover;
}
.about-me-p {
  margin-bottom: 5%;
  color: white;
}
.about-me-p:nth-child(3) {
  margin: 0;
}

.Intro {
  height: 100vh;
  display: flex;
  align-items: center;
}
.Intro::after {
  position: fixed;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 100%,
    left top,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0))
  );
  transform: perspective(200px) rotateX(50deg) scale(2, 1) translateZ(0);
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #5f9ea0 3px, transparent 3px),
    linear-gradient(to bottom, purple 1px, transparent 3px);
}
#heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#h-divs {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

#icons-list {
  list-style: none;
}
.jim {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.container-fluid.img-container {
  display: flex;
  justify-content: space-evenly;
}
.img-fluid {
  width: 30%;
}
.footer-h2 {
  color: white;
}
#footer-list {
  list-style: none;
  color: #ffad00;
  padding: 0;
}
#footer-list.footer-li.footer-link.footer-links.footer-icons.bi {
  color: white;
}

.footer-list #email {
  color: white;
}

.eye {
  width: 48px;
  height: 48px;
}
.card-body.cardy {
  background: #373c49;
  color: azure;
  overflow: auto;
}
#project-1:hover {
  animation: change-color 2s ease-in-out infinite;
}
@keyframes change-color {
  0% {
    border-color: cyan;
    box-shadow: 0 0 13px cyan;
  }
  50% {
    border-color: white;
    box-shadow: 0 0 13px white;
  }
  100% {
    border-color: cyan;
    box-shadow: 0 0 13px cyan;
  }
}
#project-2:hover {
  animation: change-color2 2s ease-in-out infinite;
}
@keyframes change-color2 {
  0% {
    border-color: #ff69b4;
    box-shadow: 0 0 13px #ff69b4;
  }
  50% {
    border-color: white;
    box-shadow: 0 0 13px white;
  }
  100% {
    border-color: #ff69b4;
    box-shadow: 0 0 13px #ff69b4;
  }
}
#project-3:hover {
  animation: change-color3 2s ease-in-out infinite;
}
@keyframes change-color3 {
  0% {
    border-color: mediumspringgreen;
    box-shadow: 0 0 13px mediumspringgreen;
  }
  50% {
    border-color: white;
    box-shadow: 0 0 13px white;
  }
  100% {
    border-color: mediumspringgreen;
    box-shadow: 0 0 13px mediumspringgreen;
  }
}

.btn.bts {
  background: aliceblue;
  border: 3px solid aliceblue;
  color: #6f6cde;
}
.footer-li #email {
  color: white;
}

.preloader-scan {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
#about-me {
  /* height: 100vh; */
  background-color: lightsalmon;
  scroll-margin-top: 8vh;
  position: relative;
}
.diode {
  animation: beam 0.01s infinite;
}
@keyframes beam {
  50% {
    opacity: 0;
  }
}
.projects-container > h2 {
  /* padding-top: 128px; */
  padding-top: 84px;
  padding-bottom: 84px;
  margin: 0;
}

.projects {
  background-color: steelblue;
  scroll-margin-top: 8vh;
  position: relative;
}
.laser {
  width: 0.1px;
  height: 64px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 7px blue;
  animation: scanning 2s infinite;
}

@keyframes scanning {
  50% {
    transform: translateX(100px);
  }
}

#footer-div {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-me-h2-div {
  margin: 10%;
}
#about-h2 {
  margin: 0;
  color: white;
  box-shadow: 0 0 13px 4px chartreuse;
}
.about-me-p-div {
  margin-bottom: 10%;
  width: 70%;
  padding: 0;
}
.tech-stack {
  margin-bottom: 10%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.tech-stack-containers {
  width: 40%;
  box-shadow: 0 0 13px 4px cyan;
}

.tech-stack-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about-container > div.container-fluid.about-img-container {
  margin-bottom: 10%;
  width: 70%;
  padding: 0;
}
.img-fluid.about-img {
  height: 150px;
  box-shadow: 0 0 13px 4px mediumpurple;
  width: 33.3%;
}
.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.arrow1 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 1s;
}
.arrow2 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 2s;
}
.arrow3 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-img-top {
  height: 50%;
}
div.card-body.cardy {
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

div.card.terminal {
  background-color: transparent;
  border: none;
}

div.card {
  width: 70%;
  height: 300px;
  margin-bottom: 32px;
}

main {
  overflow: auto;
}

#cards-div {
  display: flex;
  font-family: "VT323", monospace;
  height: 70%;
  flex-direction: column;
  align-items: center;
}

.card.terminal:hover {
  transform: translateY(-3px);
}

#about-container > div.tech-stack > div:nth-child(2) > div > iconify-icon {
  font-size: 1rem;
}

footer {
  background-color: #373c49;
  position: relative;
  background: url(https://cdn.midjourney.com/9953c8b1-92ae-486c-baca-1992308fb343/grid_0.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.projects-container {
  height: 100%;
}
#project-1 {
  box-shadow: 0 0 13px cyan;
  border: 3px solid cyan;
}
#project-2 {
  box-shadow: 0 0 13px 3px #ff69b4;
  border: 3px solid #ff69b4;
}
#project-3 {
  box-shadow: 0 0 13px 1px mediumspringgreen;
  border: 3px solid mediumspringgreen;
}
a.col-xl-6 {
  padding: 0;
}

.card > a {
  height: 50%;
}
.card > a > .card-img-top {
  height: 100%;
}
.cardy {
  height: 50%;
}

#footer-list > li > a {
  color: white;
}

#project-1 > div > p,
#project-2 > div > p,
#project-3 > div > p {
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 163px) {
  #about-container {
    padding-top: 64px;
  }
}
@media (max-width: 576px) {
  .card.terminal {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  div.card {
    width: 30%;
    margin-top: 0;
  }
  #cards-div {
    flex-direction: row;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .card {
    width: 30%;
    height: unset;
  }
  .projects {
    height: 100vh;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projects-container > h2 {
    padding: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  div.card {
    height: 400px;
  }
  .img-fluid.about-img {
    height: 208px;
  }
  #project-1 > div > p,
  #project-2 > div > p,
  #project-3 > div > p {
    -webkit-line-clamp: 3;
  }
  .svg-inline--fa {
    height: 2em;
  }
  #about-container > div.tech-stack > div:nth-child(1) > div > i.bi,
  #about-container > div.tech-stack > div:nth-child(2) > div > i {
    font-size: 2em;
  }
  #about-container > div.tech-stack > div:nth-child(2) > div > iconify-icon {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  #projects {
    height: fit-content;
  }
  div > .terminal {
    width: 30%;
  }
  div.card {
    margin-bottom: 48px;
  }
  .projects-container > h2 {
    padding-top: 128px;
    padding-bottom: 128px;
    font-size: 4rem;
  }
  #about-h2 {
    font-size: 4rem;
  }
  #cards-div {
    flex-direction: column;
  }
  .card.terminal {
    width: 70%;
    border-radius: 16px;
  }
  .card > a {
    width: 50%;
    height: 100%;
    padding: 0;
  }
  .card > a > .card-img-top {
    border-radius: 16px 0 0 16px;
  }
  #project-2.card > a > .card-img-top {
    border-radius: 14px 0 0 14px;
  }
  div.card-body.cardy {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 16px 16px 0;
  }

  h5.card-title {
    font-size: 3rem;
  }
  .card-text {
    font-size: 2rem;
  }
  .btn.bts {
    font-size: 2rem;
  }
  #project-1 > div > p,
  #project-2 > div > p,
  #project-3 > div > p {
    -webkit-line-clamp: 4;
  }

  .about-me-p-div {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
}

#footer-list > li > a:hover {
  color: cyan;
}
