@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Libre+Barcode+39+Text&family=Roboto+Mono:wght@100;300;400&family=Special+Elite&family=Tomorrow:wght@100&family=VT323&display=swap");

.App {
  text-align: center;
  background-color: azure;

  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100vh; */
  overflow: auto;
  font-family: "Gugi", cursive;

  /* font-family: 'Libre Barcode 39 Text', cursive; */
  /* font-family: 'Roboto Mono', monospace;  */
  /* font-family: 'Special Elite', cursive;  */
  /* font-family: 'Tomorrow', sans-serif; */
  /* font-family: 'VT323', monospace; */
  /* font-family: Helvetica, sans-serif; */
}

img {
  object-fit: cover;
}

.Intro {
  height: 100vh;
  display: flex;
  align-items: center;
}
#heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#h-divs {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

#icons-list {
  list-style: none;
}
.jim {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.container-fluid.img-container {
  display: flex;
  justify-content: space-evenly;
}
.img-fluid {
  width: 30%;
}
.footer-h2 {
  color: white;
}
#footer-list {
  list-style: none;
  color: #ffad00;
  padding: 0;
}
#footer-list.footer-li.footer-link.footer-links.footer-icons.bi {
  color: white;
}

.footer-list #email {
  color: white;
}

.eye {
  width: 48px;
  height: 48px;
}
.card-body.cardy {
  background: #373c49;
  color: azure;
  overflow: auto;
}
#project-1:hover{
  animation: change-color 2s ease-in-out infinite;
}
@keyframes change-color {
  0%{border-color: cyan;
    box-shadow: 0 0 13px cyan;
  }
  50%{border-color: white;
    box-shadow: 0 0 13px white;
  }
  100% {border-color: cyan;
    box-shadow: 0 0 13px cyan; }
}
#project-2:hover{
  animation: change-color2 2s ease-in-out infinite;
}
@keyframes change-color2 {
  0%{border-color: #FF69B4;
    box-shadow: 0 0 13px #FF69B4;
  }
  50%{border-color: white;
    box-shadow: 0 0 13px white;
  }
  100% {border-color: #FF69B4;
    box-shadow: 0 0 13px #FF69B4; }
}
#project-3:hover{
  animation: change-color3 2s ease-in-out infinite;
}
@keyframes change-color3 {
  0%{border-color: mediumspringgreen;
    box-shadow: 0 0 13px mediumspringgreen;
  }
  50%{border-color: white;
    box-shadow: 0 0 13px white;
  }
  100% {border-color: mediumspringgreen;
    box-shadow: 0 0 13px mediumspringgreen; }
}

.btn.bts {
  background: aliceblue;
  border: aliceblue;
  color: #6f6cde;
}
.footer-li #email {
  color: white;
}

.preloader-scan {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
#about-me {
  height: 100vh;
  background-color: cadetblue;
}
.diode {
  animation: beam 0.01s infinite;
}
@keyframes beam {
  50% {
    opacity: 0;
  }
}
.projects-container > h2 {
  /* padding-top: 128px; */
  padding-top: 84px;
  padding-bottom: 84px;
  margin: 0;
}

.projects {
  background-color: steelblue;
}
.laser {
  width: 0.1px;
  height: 64px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 7px blue;
  animation: scanning 2s infinite;
}

@keyframes scanning {
  50% {
    transform: translateX(100px);
  }
}

#footer-div {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-h2 {
  margin-bottom: 2rem;
}
#about-container {
  /* margin-top: 64px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-fluid.about-img-container {
  margin-top: 64px;
}
.img-fluid.about-img {
  /* height: 208px; */
  height: 150px;
  border: 3px solid transparent;
}
.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.arrow1 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 1s;
}
.arrow2 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 2s;
}
.arrow3 {
  width: 32px;
  height: 32px;
  border: 3px solid #32557f;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  animation: fadeOut 3s infinite 3s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-img-top {
  height: 50%;
}
div.card.terminal{
  background-color: transparent;
  border: none;
}
div.card-body.cardy{
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

div.card {
  width: 70%;
  height: 300px;
  /* margin-top: 32px; */
  margin-bottom: 32px;
}

/* .projects-heading {
  margin-top: 64px;
} */

main {
  /* height: 100%; */
  overflow: auto;
}

#cards-div {
  display: flex;
  font-family: "VT323", monospace;
  /* margin-top: 32px; */
  height: 70%;
  flex-direction: column;
  align-items: center;
}

/* .card.terminal:hover {
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
} */
.card.terminal:hover{
  transform: translateY(-3px);
}

footer {
  /* height: 30%; */
  background-color: #373c49;
}

/* .nav-buttons {
  width: 160px;
  height: 48px;
  	 background: ghostwhite;
  border: none;
  border-radius: 32px;
  cursor: pointer;
	 /* font-family: Helvetica, sans-serif; */
/* font-size: 16px;
	 font-weight: 400;
  transition: all 0.1s ease-in-out;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde; */
/* } */

/* .nav-buttons:hover {
	 opacity: 0.3;
	 box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
 .nav-buttons:active {
	 opacity: 1;
	 box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	 color: #79e3b6;
} */

.projects-container {
  height: 100%;
}
#project-1{
  box-shadow: 0 0 13px cyan;
  border: 3px solid cyan;
}
#project-2{
  box-shadow: 0 0 13px 3px #FF69B4;
  border: 3px solid #FF69B4;
}
#project-3{
  box-shadow: 0 0 13px 1px mediumspringgreen;
  border: 3px solid mediumspringgreen;
}
a.col-xl-6 {
  padding: 0;
}

.card > a {
  height: 50%;
}
.card > a > .card-img-top {
  height: 100%;
}
.cardy {
  height: 50%;
}


#footer-list > li> a{
  color: cyan;
}


@media (max-width: 163px) {
  #about-container {
    padding-top: 64px;
  }
}
@media (max-width: 576px){
  .card.terminal{
    max-width: 300px;
  }
}
/* @media (min-width: 576px) {
  div.card {
    width: 50%;
  }
} */
@media (min-width: 768px) {
  div.card {
    width: 30%;
    margin-top: 0;
  }
  #cards-div {
    flex-direction: row;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .card {
    width: 30%;
    height: unset;
  }
  .projects {
    height: 100vh;
  }
  .projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projects-container > h2 {
    padding: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  div.card {
    height: 400px;
  }
  .img-fluid.about-img {
    height: 208px;
  }
}
@media (min-width: 1200px) {
  #projects{
    height: fit-content;
  }
  div > .terminal {
    width: 30%;
  }
  div.card{
    margin-bottom: 48px;
  }
  .projects-container > h2 {
    padding-top: 128px;
    padding-bottom: 128px;
    font-size: 4rem;
  }
  #about-h2{
    font-size: 4rem;
  }
  #cards-div{
    flex-direction: column;
  }
  .card.terminal{
    width: 70%;
    border-radius: 16px;
  }
  .card > a {
    width: 50%;
    height: 100%;
    padding: 0;
  }
  .card > a > .card-img-top{
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  }
  div.card-body.cardy{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  h5.card-title{
    font-size: 3rem;
  }
  .card-text{
    font-size: 2rem;
  }
  .btn.bts{
    font-size: 2rem;
  }

}
@media (min-width: 1400px) {
}
